font-face {
  font-family: 'PTSans-Regular';
  src: url('//dyn.ig.rambler.ru/fontcss/fonts/PTSans/PTSans-Regular.eot');
  src: url('//dyn.ig.rambler.ru/fontcss/fonts/PTSans/PTSans-Regular.eot?#iefix') format('embedded-opentype'),
       url('//dyn.ig.rambler.ru/fontcss/fonts/PTSans/PTSans-Regular.woff') format('woff'),
       url('//dyn.ig.rambler.ru/fontcss/fonts/PTSans/PTSans-Regular.ttf') format('truetype'),
       url('//dyn.ig.rambler.ru/fontcss/fonts/PTSans/PTSans-Regular.svg#PTSans-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PTSans-Bold';
  src: url('//dyn.ig.rambler.ru/fontcss/fonts/PTSans/PTSans-Bold.eot');
  src: url('//dyn.ig.rambler.ru/fontcss/fonts/PTSans/PTSans-Bold.eot?#iefix') format('embedded-opentype'),
       url('//dyn.ig.rambler.ru/fontcss/fonts/PTSans/PTSans-Bold.woff') format('woff'),
       url('//dyn.ig.rambler.ru/fontcss/fonts/PTSans/PTSans-Bold.ttf') format('truetype'),
       url('//dyn.ig.rambler.ru/fontcss/fonts/PTSans/PTSans-Bold.svg#PTSans-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PTSans-Italic';
  src: url('//dyn.ig.rambler.ru/fontcss/fonts/PTSans/PTSans-Italic.eot');
  src: url('//dyn.ig.rambler.ru/fontcss/fonts/PTSans/PTSans-Italic.eot?#iefix') format('embedded-opentype'),
       url('//dyn.ig.rambler.ru/fontcss/fonts/PTSans/PTSans-Italic.woff') format('woff'),
       url('//dyn.ig.rambler.ru/fontcss/fonts/PTSans/PTSans-Italic.ttf') format('truetype'),
       url('//dyn.ig.rambler.ru/fontcss/fonts/PTSans/PTSans-Italic.svg#PTSans-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}


body {
  padding: 0;
  margin: 30px 0;
  background-color: #1A1517;
}

 #svg-map path, #svg-map polygon {
  fill: rgb(232,232,232);
  stroke: #000000;
  stroke-width : 0.25;
  stroke-miterlimit : 10;
}

#svg-map path:hover, #svg-map polygon:hover {
  animation: width 1s infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;

  stroke: #ffffff;
}

@keyframes width {
  to {
    stroke-width : 1px;
  }
}

#svg-map .selected {
  stroke-width : 1px;
  stroke: #1A1517;
}




/*.map * {
  box-sizing: border-box;
}*/

polygon {
  transition: fill 0.5s;
}

path {
  transition: fill 0.5s;
}

/*---------------------------------*/

.map {
  min-width: 610px;
  /*min-height: 340px;*/
  max-width: 1525px;
  /*max-height: 925px;*/
  padding: 0px 20px;
}

.map_body {
  position: relative;
}


.text{
  font-size: 16px;
  font-family: 'PTSans-Regular';
  color: #EEEEEE;
}

/*---------------------------------*/

.map_header {
  font-size: 0;
}

.map_header .item{
  display: inline-block;
  font-size: 16px;
  font-family: 'PTSans-Regular';
  color: #EEEEEE;
  border-radius: 3px;
}

.map_header .item.abs {
  background-color: #B42025;
  padding: 15px;
  cursor: pointer;
}

.map_header .item.rel {
  padding: 13px;
  border: 2px solid #58595B;
  margin: 0px 5%;
  cursor: pointer;
}


.scrollable {
/* padding: 0% 10%; */
position: relative;
border: 1px solid gray;
overflow: hidden;
height: 260px;
width: 252px;
background-color: #1B1010;
border-radius: 3px;
position: absolute;
left: -2px;
top: 47px;
visibility: hidden;
}

.scrollable.showScroll::after {
position: absolute;
content: '';
top: 5%;
right: 21px;
height: 90%;
width: 5px;
border: 1px solid #58595B;
}

.scrollable .content-wrapper {
width: 100%;
height: 100%;
padding-right: 50%;
overflow-y: scroll;
}
.scroller {
z-index: 5;
cursor: pointer;
position: absolute;
width: 7px;
/* border-radius: 5px; */
background: #58595B;
top: 5%;
right: 21px;
-webkit-transition: top .08s;
-moz-transition: top .08s;
-ms-transition: top .08s;
-o-transition: top .08s;
transition: top .08s;
}
.content-wrapper .content {
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

.content-wrapper .content div {
  font-family: 'PTSans-Regular';
  font-size: 16px;
  color: #93A1A8;
  /*padding-left: 20px;*/
  padding: 10px 0px 10px 20px

}

.map_header .item.drop_down {
  border: 2px solid #58595B;
  margin-right: 15px;
  position: relative;
  width: 250px;
  z-index: 100;
  font-size: 0px;

}


.map_header .item.drop_down  .head{
  display: inline-block;
}

.map_header .item.drop_down  .head.text {
  padding: 13px;
}

.map_header .item.drop_down  .separator {
  width: 2px;
  height: 50px;
  position: fixed;
  left: 100px;
  color: green;
}

.map_header .item.drop_down .close_button {
  /*background-color: green;*/
  /*background-image: url("../arrow.svg");*/
  /*background-size: auto;
  background-position: center;
  background-repeat: no-repeat;*/
  /*transform: rotate(180deg);*/
  width: 46px;
  height: 46px;
  display: inline-block;
  float: right;
  cursor: pointer;
  color: red;
  border-left: 2px solid #58595B;
  /*border-right: 2px solid red;*/
  /*padding: 30px;*/
}

.map_header .item.drop_down .close_button img {
  padding: 13px;
  width: 20px;
  height: 20px;
}

.map_header .scrollable .content .item {
  display: block;
}

.map_header .scrollable .content .item:hover {
  font-size: 16px;
  font-family: 'PTSans-Regular';
  color: #EEEEEE;
  cursor: pointer;
}

.map_header .scrollable .content .active {
  font-size: 16px;
  font-family: 'PTSans-Regular';
  color: #EEEEEE;
  cursor: pointer;
}

/*---------------select-style-----------------*/




/*------------Years---------------------*/

.years {
  font-size: 0;
  width: 100%;
}
.col {
 width: 4.73%; /* Ширина колонок */
 display: inline-block;
 font-size: : 12px;
 font-size: 16px;
 font-family: 'PTSans-Regular';
 text-align: center;
 transition: background-color 0.7s;
 cursor: pointer;

}

.col>div {
   padding-top: 15px;
   vertical-align: middle;
   padding-bottom: 15px;
   color:#93A1A8;
   position: relative;
}

.col :hover {
  /*background-color: rgba(180,32,37,0.5);*/
  /*border-radius: 50%;*/
}


.active.col>div::before {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    content: "";
    position: absolute;
    top: -6%;
    left: 2%;
    background-color: rgb(180,32,37);
    z-index: -1;
}

/*-------------Banner--------------------*/

.banner{
  width: 460px;
  height: 180px;
  background-color: rgba(31,66,79,0.74);
  padding: 20px;
  position: absolute;
  right: 10%;
  top: 35%;
  border-radius: 3px;
  visibility: hidden;
}

.banner .head .region {
  color: #ffffff;
  font-family:  'PTSans-Bold';
  font-weight: 16px;
  display: inline-block;
  width: 85%;
  margin-left: 15px;
}

.banner .head .btn.close {
  width: 15px;
  height: 15px;
  float: right;
  background-image: url("../close_button.svg");
  display: inline-block;
  cursor: pointer;

}


.banner .body .pie {
  display: inline-block;
  vertical-align: top;
  margin-top: 20px;
  width: 25%;
}


.banner .body .data {
  display: inline-block;
  vertical-align: top;
  padding: 15px 0;
  width: 74%;  /*  bad hack*/
}

.banner .body .item {
  margin: 15px 0px;
  font-size: 0;
}

.banner .body .item span {
  color: #ffffff;
  font-family: 'PTSans-Regular';
  display: inline-block;
  font-size: 16px;
}

.banner .body .item span.leble {
  padding-left: 15px;
}

.banner .body .item span.infected {
  color: #ffffff;
  font-family:  'PTSans-Bold';
  display: inline-block;
  font-size: 24px;
  width: 23%;
  text-align: right;
}

.banner .body .item span.dead {
  color: #18B3AC;
  font-family:  'PTSans-Bold';
  display: inline-block;
  font-size: 24px;
  width: 23%;
  text-align: right;
}


/*---Legend--*/

.legend {
  font-size: 0;
  position: absolute;
  bottom: 5%;
}



.legend .text , .legend .bloc {
  display: inline-block;
  vertical-align: top;
  width: 50px;
  height: 43px;
}


.legend .bloc .color {
  width: 21px;
  height: 21px;
  background-color: red;
  margin: auto;
  margin-bottom: 10px;
}

.legend .bloc .year {
  font-family: 'PTSans-Regular';
  font-size: 16px;
  color: #93A1A8;
  text-align: center;
}
