@font-face {
    font-family: 'PTSans-Regular';
    src: url('//dyn.ig.rambler.ru/fontcss/fonts/PTSans/PTSans-Regular.eot');
    src: url('//dyn.ig.rambler.ru/fontcss/fonts/PTSans/PTSans-Regular.eot?#iefix') format('embedded-opentype'), url('//dyn.ig.rambler.ru/fontcss/fonts/PTSans/PTSans-Regular.woff') format('woff'), url('//dyn.ig.rambler.ru/fontcss/fonts/PTSans/PTSans-Regular.ttf') format('truetype'), url('//dyn.ig.rambler.ru/fontcss/fonts/PTSans/PTSans-Regular.svg#PTSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PTSans-Bold';
    src: url('//dyn.ig.rambler.ru/fontcss/fonts/PTSans/PTSans-Bold.eot');
    src: url('//dyn.ig.rambler.ru/fontcss/fonts/PTSans/PTSans-Bold.eot?#iefix') format('embedded-opentype'), url('//dyn.ig.rambler.ru/fontcss/fonts/PTSans/PTSans-Bold.woff') format('woff'), url('//dyn.ig.rambler.ru/fontcss/fonts/PTSans/PTSans-Bold.ttf') format('truetype'), url('//dyn.ig.rambler.ru/fontcss/fonts/PTSans/PTSans-Bold.svg#PTSans-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PTSans-Italic';
    src: url('//dyn.ig.rambler.ru/fontcss/fonts/PTSans/PTSans-Italic.eot');
    src: url('//dyn.ig.rambler.ru/fontcss/fonts/PTSans/PTSans-Italic.eot?#iefix') format('embedded-opentype'), url('//dyn.ig.rambler.ru/fontcss/fonts/PTSans/PTSans-Italic.woff') format('woff'), url('//dyn.ig.rambler.ru/fontcss/fonts/PTSans/PTSans-Italic.ttf') format('truetype'), url('//dyn.ig.rambler.ru/fontcss/fonts/PTSans/PTSans-Italic.svg#PTSans-Italic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PTSerif-Regular';
    src: url('//dyn.ig.rambler.ru/fontcss/fonts/PTSerif/PTSerif-Regular.eot');
    src: url('//dyn.ig.rambler.ru/fontcss/fonts/PTSerif/PTSerif-Regular.eot?#iefix') format('embedded-opentype'), url('//dyn.ig.rambler.ru/fontcss/fonts/PTSerif/PTSerif-Regular.woff') format('woff'), url('//dyn.ig.rambler.ru/fontcss/fonts/PTSerif/PTSerif-Regular.ttf') format('truetype'), url('//dyn.ig.rambler.ru/fontcss/fonts/PTSerif/PTSerif-Regular.svg#PTSerif-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PTSerif-Bold';
    src: url('//dyn.ig.rambler.ru/fontcss/fonts/PTSerif/PTSerif-Bold.eot');
    src: url('//dyn.ig.rambler.ru/fontcss/fonts/PTSerif/PTSerif-Bold.eot?#iefix') format('embedded-opentype'), url('//dyn.ig.rambler.ru/fontcss/fonts/PTSerif/PTSerif-Bold.woff') format('woff'), url('//dyn.ig.rambler.ru/fontcss/fonts/PTSerif/PTSerif-Bold.ttf') format('truetype'), url('//dyn.ig.rambler.ru/fontcss/fonts/PTSerif/PTSerif-Bold.svg#PTSerif-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PTSerif-Italic';
    src: url('//dyn.ig.rambler.ru/fontcss/fonts/PTSerif/PTSerif-Italic.eot');
    src: url('//dyn.ig.rambler.ru/fontcss/fonts/PTSerif/PTSerif-Italic.eot?#iefix') format('embedded-opentype'), url('//dyn.ig.rambler.ru/fontcss/fonts/PTSerif/PTSerif-Italic.woff') format('woff'), url('//dyn.ig.rambler.ru/fontcss/fonts/PTSerif/PTSerif-Italic.ttf') format('truetype'), url('//dyn.ig.rambler.ru/fontcss/fonts/PTSerif/PTSerif-Italic.svg#PTSerif-Italic') format('svg');
    font-weight: normal;
    font-style: normal;
}
body {
    padding: 0;
    margin: 0;
    background-color: #1A1517;
    font-size: 0;
    overflow-y:scroll;
}
.line {
    background-color: #A9242C;
    width: 100%;
    height: 50px;
}
.bottom {
    margin-top: 20px;
}
.line .center {
    width: 955px;
    height: 100%;
    margin: auto;
    /*background-color: green;*/
}
.ramblerIG {
    padding: 21px;
}
.gazeta {
    padding: 17px;
    float: right;
}
.plate1 {
    width: 100%;
    min-width: 955px;
    /*background-color: green;*/
    background-image: url("../ribon1.png");
    background-repeat: no-repeat;
    background-position: center 394px;
}
.plate1 .content {
    position: relative;
    margin: 0 auto;
    max-width: 955px;
    height: 100%;
    /*background-color: rgba(0, 128, 0, 0.25);*/
    font-size: 0;
}
.plate1 .content .item {
    box-sizing: border-box;
    font-size: 16px;
    display: inline-block;
    vertical-align: top;
    width: 50%;
    height: 70%;
    padding: 60px 0;
}
.plate1 .content .item .head {
    font-size: 58px;
    color: #EEEEEE;
    font-family: 'PTSerif-Regular';
}
.plate1 .content .item img:first-child {
    padding-left: 338px;
    padding-top: 15px;
}
.plate1 .content .item .head .important {
    color: #B42025;
}
.plate1 .content .item .text {
    font-size: 22px;
    color: #EEEEEE;
    font-family: 'PTSerif-Regular';
    padding-top: 60px;
}
.footer {
    width: 100%;
}
.footer img {
    display: block;
    margin: auto;
    cursor: pointer;
}

.plate1 .footer {
  margin-top: 230px;
}

.plate3 .footer {
  padding-top: 585px;
}

.plate2 {
    margin-top: 65px;
    width: 100%;
}
.plate2 .content {
    width: 1024px;
    height: 100%;
    margin: 0 auto;
    /*background-color: rgba(0, 128, 0, 0.25);*/
}
.plate2 .content .question {
    font-size: 24px;
    color: #ffffff;
    font-family: "TSans-Bold";
    text-align: center;
}
.plate2 .answers {
    font-size: 0;
    color: #ffffff;
    font-family: "PTSans-Regular"
}
.plate2 .answers .item {
    box-sizing: border-box;
    font-size: 16px;
    display: inline-block;
    width: 50%;
    margin-top: 35px;
    padding-left: 40px;
    padding-right: 40px;
}
.plate2 .answers .item:nth-child(1) .elem {
    text-align: right;
}
.plate2 .answers .item:nth-child(2) .elem {
    text-align: left;
}

.answers .item .elem {
    cursor: pointer;
    margin-bottom: 20px;
    position: relative;
    transition: color 1s, opacity 1s;
}

.answers .elem:hover, .elem.selected {
  color: #18B3AC;
  opacity: 0.6;
}

.answers .elem.right {
  opacity: 1;
  color: #18B3AC;
}

.answers .elem.wrong {
  color: #B42025;
}


.answers .item .elem div {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
}


.answer-dot {
    position: relative;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    margin-top:2px;
    margin-right:18px;
    border: 1px solid #ffffff;
    box-shadow: 0 0 1px 0px white inset, 0 0 1px 0px white;
    transition: border-color 1s, opacity 1s;
}

.elem:hover .answer-dot , .elem.selected .answer-dot {
  border-color: #18B3AC;
  box-shadow: 0 0 1px 0px #18B3AC inset, 0 0 1px 0px #18B3AC;
  opacity: 0.6;
}

.elem.right .answer-dot {
  border-color: #18B3AC;
  box-shadow: 0 0 1px 0px #18B3AC inset, 0 0 1px 0px #18B3AC;
  opacity: 1;
}

.elem.wrong .answer-dot {
  border-color: #B42025;
  box-shadow: 0 0 1px 0px #B42025 inset, 0 0 1px 0px #B42025;
}

.answer-dot-inner  {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 6px;
  height: 6px;
  background-color: transparent;
  border-radius: 10px;
  transition: background-color 1s;
}

.elem.wrong .answer-dot-inner {
    background-color: #B42025;
}

.elem:hover .answer-dot-inner, .elem.selected .answer-dot-inner {
    background-color: #18B3AC;
    opacity: 0.6;
}

.elem.right .answer-dot-inner {
  background-color: #18B3AC;
  opacity: 1;
}


.answerButton {
    border: 2px solid #ffffff;
    width: 168px;
    height: 36px;
    border-radius: 40px;
    position: relative;
    margin: 0 auto;
    margin-top: 20px;
    opacity: 0.5;
    transition: opacity 0.8s, background-color 0.5s;
    pointer-events: none;
}
.answerButton> .text {
    font-size: 16px;
    font-family: 'PTSans-Bold';
    color: #ffffff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.5;
}

.answerButton.active {
  border: 2px solid #18B3AC;
  opacity: 0.5;
  background-color:  #18B3AC;
  opacity: 1;
  cursor: pointer;
  pointer-events: all;
}

.answerButton.active:not(.aswered):hover{
  background-color:  #18B3AC;
  opacity: 0.6;
}

.answerButton.active .text {
  color: #ffffff;
  opacity: 1;
}

/*.comment {
  transition: display 1s, ;
}*/

.plate2 .comment {
    font-size: 16px;
    font-family: 'PTSerif-Regular';
    color: #ffffff;
    width: 553px;
    margin: 0 auto;
    margin-top: 65px;
}
.plate3 {
    width: 100%;
    min-width: 1024px;
    background-image: url("../ribon2.png");
    background-repeat: no-repeat;
    background-position: 45% 25px;
    position: relative;
}
.plate3 .text {
    display: inline-block;
    font-family: "PTSerif-Regular";
    font-size: 24px;
    color: #ffffff;
    position: absolute;
    text-align: center;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
}
.plate3 .text .item:nth-child(2) {
    font-size: 63px;
}
.plate4 {
    width: 100%;
    min-width: 1024px;
    position: relative;
    margin-top: 60px;
}
.plate4 .content {
    width: 1024px;
    margin: 0 auto;
    /*background-color: rgba(0, 128, 0, 0.25);*/
}
.plate4 .content .question {
    font-size: 24px;
    color: #ffffff;
    font-family: "TSans-Bold";
    text-align: center;
}
.plate4 .answers {
    font-size: 0;
    color: #ffffff;
    font-family: "PTSans-Regular"
}
.plate4 .answers .item {
    box-sizing: border-box;
    font-size: 16px;
    display: inline-block;
    width: 50%;
    /*height: 140px;*/
    margin-top: 35px;
    padding-left: 40px;
    padding-right: 40px;
    /*padding: 40px;*/
}
.plate4 .answers .item:nth-child(1) .elem {
  padding-left: 50px;
    text-align: left;
}
.plate4 .answers .item:nth-child(2) .elem {
    text-align: left;
}
.plate4 .answers .item .elem {
    margin-bottom: 20px;
}
.plate4 .comment {
    font-size: 16px;
    font-family: 'PTSerif-Regular';
    color: #ffffff;
    width: 670px;
    margin: 0 auto;
    margin-top: 65px;
    text-align: center;
}

.plate5  {
  margin-top: 45px;
}

.plate5 .comment {
  font-size: 0px;
  width: 948px;
  margin: auto;
  padding-top: 40px;

}

.plate5 .comment .item {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  width: 50%;
  font-size: 16px;
  font-family: "PTSans-Bold";
  color: #ffffff;
}

.plate5 .comment .item:nth-child(1) {
  padding-right: 30px
}

.plate5 .comment .item:nth-child(2) {
  padding-left: 30px
}

#svg-map path, #svg-map polygon {
    fill: rgb(232, 232, 232);
    stroke: #000000;
    stroke-width: 0.50;
    cursor: pointer;
}
#svg-map.regSelected path, #svg-map.regSelected polygon {
    fill-opacity: 0.5;
}
#svg-map path:hover, #svg-map polygon:hover {
    fill-opacity: 0.8;
}
#svg-map path.selected, #svg-map polygon.selected {
    fill-opacity: 1;
}
#svg-map path, #svg-map polygon {
    transition: fill 0.5s, fill-opacity 0.5s;
}

/*---------------------------------*/

.map {
    padding: 0 20px;
    width: 955px;
    margin: auto;
}
.map_body {
    position: relative;
    width: 955px;
    height: 580px;
}
.text {
    font-size: 16px;
    font-family: 'PTSans-Regular';
    color: #EEEEEE;
}

/*---------------------------------*/

.map_header {
    font-size: 0;
}
.map_header .item {
    display: inline-block;
    font-size: 16px;
    font-family: 'PTSans-Regular';
    color: #EEEEEE;
    border-radius: 3px;
}
.map_header .item.btn {
    border: 2px solid #58595B;
    cursor: pointer;
    padding: 13px;
}
.map_header .item.btn.active {
    background-color: #B42025;
    cursor: default;
    border: none;
    padding: 15px;
    /*pointer-events: none;*/
}
.map_header> .item:nth-of-type(2) {
    padding: 13px;
    margin: 0px 3%;
}
.scrollable {
    position: relative;
    border: 1px solid gray;
    overflow: hidden;
    height: 245px;
    width: 252px;
    background-color: #1B1010;
    border-radius: 3px;
    position: absolute;
    left: -2px;
    top: 47px;
    visibility: hidden;
}
.scrollable.showScroll::after {
    position: absolute;
    content: '';
    top: 5%;
    right: 21px;
    height: 90%;
    width: 5px;
    border: 1px solid #58595B;
}
.scrollable .content-wrapper {
    width: 100%;
    height: 100%;
    padding-right: 50%;
    overflow-y: scroll;
}
.scroller {
    z-index: 100;
    cursor: pointer;
    position: absolute;
    width: 7px;
    background: #58595B;
    top: 5%;
    right: 21px;
    -webkit-transition: top .08s;
    -moz-transition: top .08s;
    -ms-transition: top .08s;
    -o-transition: top .08s;
    transition: top .08s;
}
.content-wrapper .content {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.content-wrapper .content div {
    font-family: 'PTSans-Regular';
    font-size: 16px;
    color: #93A1A8;
    padding: 10px 0px 10px 20px
}
.map_header .item.drop_down {
    border: 2px solid #58595B;
    position: relative;
    width: 250px;
    z-index: 100;
    font-size: 0;
    cursor: pointer;
}
.map_header .item.drop_down .text {
    padding: 13px;
    display: inline-block;
}
.map_header .item.drop_down .close_button {
    display: inline-block;
    width: 46px;
    height: 46px;
    display: inline-block;
    float: right;
    cursor: pointer;
    border-left: 2px solid #58595B;
}
.map_header .item.drop_down .close_button img {
    padding: 13px;
    width: 20px;
    height: 20px;
}
.map_header .scrollable .content .item {
    display: block;
}
.map_header .scrollable .content .item:hover {
    font-size: 16px;
    font-family: 'PTSans-Regular';
    color: #EEEEEE;
    cursor: pointer;
}
.map_header .scrollable .content .active {
    font-size: 16px;
    font-family: 'PTSans-Regular';
    color: #EEEEEE;
    cursor: pointer;
}

/*------------Years---------------------*/

.years {
    font-size: 0;
    border: 0;
    width: 955px;
    margin: auto;
}
.col {
    width: 4.76190476%;
    /* Ширина колонок */
    display: inline-block;
    font-size: 16px;
    font-family: 'PTSans-Regular';
    text-align: left;
    transition: background-color 0.7s;
    cursor: pointer;
}
.col>div {
    padding-top: 15px;
    vertical-align: middle;
    padding-bottom: 15px;
    color: #93A1A8;
    position: relative;
}
.active.col>div {
    color: #ffffff;
}
.col>div::before {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    content: "";
    position: absolute;
    top: -14%;
    left: -33%;
    z-index: -1;
    background: none;
    transition: background-color 1s;
}
.active.col>div::before {
    background-color: rgb(180, 32, 37);
}

/*-------------Banner--------------------*/

.banner {
    width: 420px;
    /*height: 140px;*/
    background-color: rgba(31, 66, 79, 0.74);
    padding: 27px 20px 20px 35px;
    position: absolute;
    ;
    border-radius: 3px;
    opacity: 0;
    visibility: ;
    z-index: 50;
    transition: opacity 0.5s, top 1s, left 1s, visibility 0.5s;
}
.banner .head .region {
    color: #ffffff;
    font-size: 16px;
    font-family: 'PTSans-Bold';
    display: inline-block;
    width: 85%;
}
.banner .head .btn.close {
    width: 15px;
    height: 15px;
    position: absolute;
    right: 15px;
    top: 15px;
    background-image: url("../close_button.svg");
    cursor: pointer;
}
.banner .body .pie {
    display: inline-block;
    vertical-align: top;
    margin-top: 25px;
}
.banner .body .data {
    display: inline-block;
    vertical-align: top;
    padding: 20px 0 0 0;
}
.banner .body .item {
    margin: 10px 0;
    font-size: 0;
    white-space: nowrap;
}
.banner .body .item span {
    color: #ffffff;
    font-family: 'PTSans-Regular';
    display: inline-block;
    font-size: 16px;
}
.banner .body .item .leble {
    padding-left: 15px;
}
.banner .body .item .infected {
    color: #ffffff;
    font-family: 'PTSans-Bold';
    display: inline-block;
    font-size: 24px;
    width: 23%;
    text-align: right;
}
.banner .body .item .dead {
    color: #18B3AC;
    font-family: 'PTSans-Bold';
    display: inline-block;
    font-size: 24px;
    width: 23%;
    text-align: right;
}

/*---Legend--*/

.legend {
    font-size: 0;
    position: absolute;
    bottom: 5%;
}
.legend .text, .legend .bloc {
    display: inline-block;
    position: relative;
    vertical-align: top;
    /*width: 50px;*/
    height: 43px;
    margin-right: 27px;
}
.legend .bloc .color {
    width: 21px;
    height: 21px;
    /*background-color: red;*/
    /*margin: auto;*/
    margin-bottom: 10px;
}
.legend .bloc .val {
    width: 50px;
    font-family: 'PTSans-Regular';
    font-size: 16px;
    color: #93A1A8;
    text-align: center;
    position: absolute;
    left: 50%;
    margin-left: -25px;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    -khtml-user-select: none;
    /* Konqueror */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  not supported by any browser */
}
.legend .bloc:first-child .val {
    text-align: left;
    left: 0;
    margin-left: 0;
}


.plate6 {
    margin-top: 65px;
    width: 100%;
    background-image: url("../ribon3.png");
    background-repeat: no-repeat;
    background-position: 50% 850px;
}
.plate6 .content {
    width: 1024px;
    height: 100%;
    margin: 0 auto;
    /*background-color: rgba(0, 128, 0, 0.25);*/
}
.plate6 .content .question {
    font-size: 24px;
    color: #ffffff;
    font-family: "TSans-Bold";
    text-align: center;
}
.plate6 .answers {
    font-size: 0;
    color: #ffffff;
    font-family: "PTSans-Regular"
}
.plate6 .answers .item {
    box-sizing: border-box;
    font-size: 16px;
    display: inline-block;
    width: 50%;
    /*height: 140px;*/
    margin-top: 35px;
    padding-left: 40px;
    padding-right: 40px;
    /*padding: 40px;*/
}
.plate6 .answers .item:nth-child(1) .elem {
    text-align: right;
}
.plate6 .answers .item:nth-child(2) .elem {
    text-align: left;
}
.plate6 .answers .item .elem {
    margin-bottom: 20px;
}

.plate6 .comment {
    font-size: 16px;
    font-family: 'PTSerif-Regular';
    color: #ffffff;
    width: 553px;
    margin: 0 auto;
    margin-top: 65px;
}

.chart.newInfected {
  margin-top: 40px;
}

.chart.newInfected .header.text{
    font-family: 'PTSans-Bold';
    font-size: 24px;
    text-align: center;
    margin-bottom: 35px;
}

.chart.newInfected .body {
  height: 285px;
  width: 910px;
  margin: 0 auto;
  /*background-color: rgba(0, 128, 0, 0.25);*/
}


.chart.newInfected .body .canvas {
  position: relative;
  width: 100%;
  height: 260px;
  border-bottom: 2px solid #D4D4D4;
  border-top: 2px dotted #1F424F;
  overflow: hidden;
}



.chart.newInfected .body .canvas .center.axis{
  position: relative;
  top: 50%;
  width: 100%;
  height: 50%;
  border-top: 2px dotted #1F424F;
}

.chart.newInfected .body .canvas .text_1,.text_2 {
  position: absolute;;
  /*display: inline-block;*/

  font-family:'PTSans-Regular';
  font-size: 16px;
  color: #93A1A8;
  top: 5px;
}

.chart.newInfected .body .x-axis .block {
  display: inline-block;
  text-align: center;
  width: 4.54545454545%;
  font-family:'PTSans-Regular';
  font-size: 16px;
  color: #93A1A8;
}

.chart.newInfected .body .canvas .year {
  position: relative;
  display: inline-block;
  width: 4.54545454545%;
  height: 100%;
  text-align: center;
  /*overflow: hidden;*/
}

.chart.newInfected .body .canvas .year .count {
  font-family:'PTSans-Regular';
  font-size: 16px;
  color: #93A1A8;
}

.newInfected_label_text {
  font-family:'PTSans-Regular';
  font-size: 16px;
  color: #93A1A8;
  transition: opacity 1s;
  opacity: 0;
}



.chart.newInfected .body .canvas .bar {
  display: inline-block;
  vertical-align: top;
  width: 40%;
  height: 100%;
  background-color: #B42025;
  border-radius: 20px 20px 0 0;
  margin-top: 260px;
  /*transition-timing-function: ease-in-out;*/
  transition: margin-top 0.3s ease-out;
}



.plate6 .text2 {
    display: block;
    font-family: "PTSerif-Regular";
    font-size: 24px;
    color: #ffffff;
    text-align: center;
    margin: 150px auto 0 auto;
}
.plate6 .text2 .item:nth-child(2) {
    font-size: 63px;
}

.plate6 .footer {
  margin-top: 140px;
}


.plate7 {
    position:relative;
    margin-top: 65px;
    width: 100%;

}

.plate7-after {
  content: "";
  background-image: url("../ribon4.png");
  background-repeat: no-repeat;
  background-position: 50% 420px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.plate7 .content {
    width: 1024px;
    height: 100%;
    margin: 0 auto;
    text-align: center;
}
.plate7 .content .question {
    font-size: 24px;
    color: #ffffff;
    font-family: "TSans-Bold";
    text-align: center;
}

.plate7 .content .guess-growth {
    width: 540px;
    height: 250px;
    /*background-color: rgba(150, 90, 0, 0.25);*/
    margin: 0 auto;
    text-align: left;
    font-size: 0;
}

.plate7 .content .header{
  font-family: 'PTSans-Regular';
  font-size: 16pt;
  color: #93A1A8;
  margin: 25px 0 35px 0;
  display: inline-block;

}

.plate7 .content .guess-growth .valuepicker {
  height: 100%;
  width: 10%;
  display: inline-block;
  text-align: center;
  /*border-right: 2px solid #D4D4D4;*/
  position: relative;
}

.valuepicker-picker {
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 5px solid #18B3AC;
  position: absolute;
  bottom: -1px;
  left: 30.8%;
  z-index: 1000;
  cursor: pointer;
}

.valuepicker-line {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  height: 90%;
  width: 2px;
  background-color: #D4D4D4
}

.guess-growth-main {
  height: 100%;
  display: inline-block;
  width: 60%;
  position: relative;
}

.guess-growth-main-big {
  width: 230px;
  height: 230px;
  border-radius: 50%;
  background-color: #B42025;
  opacity: 0.3;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.guess-growth-main-small {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background-color: #B42025;
  /*opacity: 0.3;*/
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.guess-growth-main-text {
  color: #ffffff;
  font-family: 'PTSans-Regular';
  font-size: 16px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.plate7 .content .guess-growth  .guess-growth-legend{
  vertical-align: top;
  height: 100%;
  width: 10%;
  display: inline-block;
  font-family: 'PTSans-Regular';
  font-size: 16pt;
  color: #93A1A8;
  position: relative;
}

.guess-growth-legend>div:last-child {
  position: absolute;
  bottom: 0px;
}


.plate7 .head {
    background-image: url("../women1.svg");
    background-repeat: no-repeat;
    width: 250px;
    height: 180px;
    margin: 0 auto;
    background-size: 258px;
    margin-top: 80px;
}

.plate7 .head_text {
  font-family:'PTSerif-Regular';
  font-size: 24px;
  width: 590px;
  margin: 20px auto 0 auto;
  color: #ffffff;
}

.plate7 .footer {
  margin-top: 90px;
}



.plate8 {
    margin-top: 65px;
    width: 100%;
}
.plate8 .content {
    width: 1024px;
    height: 100%;
    margin: 0 auto;
}
.plate8 .content .question {
    font-size: 24px;
    color: #ffffff;
    font-family: "TSans-Bold";
    text-align: center;
}

.plate8 .content .answers {
    position: relative;
    width: 1024px;
    /*height: 200px;*/
    /*background-color: rgba(0, 128, 0, 0.25);*/
    margin: 65px auto 0 auto;
}


#ribbon-slider-8 , #ribbon-slider-9 {
  cursor: pointer;
}

.thermometer .green-meter {
  position: relative;
  height: 30px;
  width: 848px;
  margin: 0 auto;
  background-color: #18B3AC;
  border-radius: 0 15px 15px 0;
  font-size: 16px;
  font-family:'PTSans-Regular';
  color: #000000;
  text-align: right;
  box-sizing: border-box;
  padding: 6px 15px 6px 0;
  overflow: hidden;
  transition: color 0.5s ease-in-out;
}

.thermometer .green-meter.big {
  color: transparent;
}

.thermometer .red-meter-8 {
  position: absolute;
  left: -60%;
  bottom: 0px;
  height: 30px;
  width: 100%;
  margin: 0 auto;
  background-color: #B42025;
  border-radius: 0 15px 15px 0;
  font-size: 16px;
  font-family:'PTSans-Regular';
  color: #ffffff;
  text-align: right;
  box-sizing: border-box;
  padding: 6px 15px 6px 0;
}

.thermometer .red-meter-8> div {
  position: absolute;
  right: 2%;
  transition: right 0.5s ease-in-out;
}

.thermometer .red-meter-8.small> div {
  right: -4%;
}


.plate8 .answerButton{
  margin-bottom: 80px;
  margin-top: 40px;
}

.plate8 .comment {
    font-size: 16px;
    font-family: 'PTSerif-Regular';
    color: #ffffff;
    width: 553px;
    margin: 0 auto;
    margin-top: 65px;
}

.plate8 .chart.key-reason {
  /*background-color: rgba(0, 128, 0, 0.25);*/
  width: 970px;
  height: 630px;
  margin: 40px auto 0 auto;
}

.key-reason-legend {
  font-size: 0;
}

.key-reason-legend .coll {
  display: inline-block;
  width: 23.3333%;
}

.key-reason-legend .coll:first-child {
  display: inline-block;
  width: 30%;
}

.square {
  width: 30px;
  height: 30px;
  display: inline-block;
  vertical-align: top;
  margin-top: 3px;
  margin-right: 15px;
}

.hetero {
background-color: #18B3AC;
}

.homo {
  /*background-color: #198886*/
  background-color: #ffffff;
}

.drags {
  background-color:#B42025;
}

.fromMather {
  background-color: #F0C20F
}

.coll .description {
  display: inline-block;
  vertical-align: top;
  width: 80%;
  font-size:16px;
  font-family: 'PTSerif-Regular';
  color: #ffffff;
  white-space: nowrap;
}

.key-reason-body {
  margin-top: 50px;
}


.key-reason-canvas {
    height: 435px;
    width: 100%;
    margin: 0 auto;
    /*background-color: rgba(0, 128, 0, 0.25);*/
    border-bottom:2px solid #D4D4D4;
    margin-bottom: 10px;
}

.key-reason-canvas .year {
  position: relative;
  display: inline-block;
  width: 4.7619%;
  height: 100%;
}

.key-reason-canvas .bar {
  /*position: relative;*/
  /*display: inline-block;*/
  /*width: 4.54545454545%;*/
  /*height: 100%;*/

  width: 15px;
  height: 25%;
  margin: 0 auto;
  /*transition: width 1s;*/
  /*background-color: #B42025;*/
  /*border-radius: 20px 20px 0 0;*/
  transition: height 1s;
}

.key-reason-canvas .bar:first-child {
  border-radius: 20px 20px 0 0;
}

.key-reason-body .x-axis .block {
  display: inline-block;
  text-align: center;
  width: 4.7619%;
  font-family:'PTSans-Regular';
  font-size: 16px;
  color: #93A1A8;
}



.plate8 .chart.key-reason .title {
  font-family: 'PTSans-Bold';
  font-size: 24px;
  color: #ffffff;
  margin: 0 auto;
  margin-bottom: 45px;
  width: 330px;
}

.plate8 .footer {
  margin-top: 70px;
}


.plate9 {
    margin-top: 65px;
    width: 100%;
}
.plate9 .content {
    width: 1024px;
    height: 100%;
    margin: 0 auto;
}
.plate9 .content .question {
    font-size: 24px;
    color: #ffffff;
    font-family: "TSans-Bold";
    text-align: center;
}

.plate9 .content .answers {
    width: 100%;
    /*height: 200px;
    background-color: rgba(0, 128, 0, 0.25);*/
    margin: 65px auto 0 auto;
}


.thermometer-9 .green-meter-9 {
  position: relative;
  height: 30px;
  width: 848px;
  margin: 0 auto;
  background-color: #18B3AC;
  border-radius: 0 15px 15px 0;
  font-size: 16px;
  font-family:'PTSans-Regular';
  color: #000000;
  text-align: right;
  box-sizing: border-box;
  padding: 6px 15px 6px 0;
  overflow: hidden;
  transition: color 0.5s ease-in-out;
}

.thermometer-9 .green-meter-9.big {
  color: transparent;
}

.thermometer-9 .red-meter-9 {
  position: absolute;
  left: -60%;
  bottom: 0px;
  height: 30px;
  width: 100%;
  margin: 0 auto;
  background-color: #B42025;
  border-radius: 0 15px 15px 0;
  font-size: 16px;
  font-family:'PTSans-Regular';
  color: #ffffff;
  text-align: right;
  box-sizing: border-box;
  padding: 6px 15px 6px 0;
}

.thermometer-9 .red-meter-9> div {
  position: absolute;
  right: 2%;
  transition: right 0.5s ease-in-out;
}

.thermometer-9 .red-meter-9.small> div {
  right: -4%;
}



.plate9 .answerButton{
  margin-top: 60px;
  margin-bottom: 80px;
}


.plate9 .footer {
  margin-top: 70px;
}

.plate9 .chart.top-infected {
  text-align: center;
  /*background-color: rgba(0, 128, 0, 0.25);*/
  width:  570px;
  margin: 0 auto;

}

.plate9 .chart.top-infected .header{
  font-family: 'PTSans-Bold';
  font-size: 24px;
  color: #ffffff;
  display: inline-block;
  margin-bottom: 35px;
  /*display: block;*/
  /*width: 570px;*/
  /*margin: 0 auto;*/
}

.top-infected-row {
  width: 100%;
  height: 30px;
  background-color: rgba(24,179,172,0.3);
  margin-bottom: 5px;
  /*opacity: 0.3;*/
  border-radius: 20px;
  color: #93A1A8;
  font-family:'PTSans-Regular';
}


.top-infected-row:nth-child(12) {
  background-color: #FFFFFF;
  opacity: 1;
  color:#B42025;
  font-family:'PTSans-Bold';
}

.top-infected-row>div {
  box-sizing: border-box;
  display: inline-block;
  font-size: 16px;
  width: 20%;
  padding: 6px 0;
}

.top-infected-row>div:nth-child(2) {
  width: 60%;
  text-align: center;
}

.top-infected-row>div:nth-child(1) {
    text-align: left;
    padding-left: 15px;
}

.top-infected-row>div:nth-child(3) {
  text-align: right;
  padding-right: 20px;
}

.plate10 {
    margin-top: 65px;
    width: 100%;
    background-image: url("../ribon5.png");
    background-repeat: no-repeat;
    background-position: 50% 166px;
}
.plate10 .content {
    text-align: center;
    width: 1024px;
    height: 100%;
    margin: 0 auto;
    /*background-color: rgba(0, 128, 0, 0.25);*/
}
.plate10 .content .question {
    font-size: 24px;
    color: #ffffff;
    font-family: "TSans-Bold";
    text-align: center;
}
.plate10 .answers {
    font-size: 0;
    color: #ffffff;
    font-family: "PTSans-Regular"
}
.plate10 .answers .item {
    box-sizing: border-box;
    font-size: 16px;
    display: inline-block;
    width: 50%;
    /*height: 140px;*/
    margin-top: 35px;
    padding-left: 40px;
    padding-right: 40px;
    /*padding: 40px;*/
}
.plate10 .answers .item:nth-child(1) .elem {
    text-align: right;
}
.plate10 .answers .item:nth-child(2) .elem {
    text-align: left;
}
.plate10 .answers .item .elem {
    margin-bottom: 20px;
}

.plate10 .head {
    margin: 0 auto;
    background-image: url("../men1.svg");
    background-repeat: no-repeat;
    width: 260px;
    height: 214px;
    background-size: 258px;
    margin-top: 90px;
}

.plate10 .head-name {
  font-family:'PTSans-Bold';
  font-size: 24px;
  text-align: center;
  color: #ffffff;
}

.plate10 .head-function {
  font-family:'PTSans-Bold';
  font-size: 16px;
  text-align: center;
  color: #93A1A8;
  margin-top: 5px;
}

.plate10 .head-text {
  font-family:'PTSerif-Regular';
  font-size: 24px;
  /*width: 590px;*/
  text-align: left;
  display: inline-block;
  margin: 20px auto 0 auto;
  color: #ffffff;
}

.chart.top-spread {
  margin-top: 180px;
}

.chart.top-spread .header.text{
    font-family: 'PTSans-Bold';
    font-size: 24px;
    text-align: center;
}

.chart.top-spread .body {
  height: 372px;
  /*width: 902px;*/
  margin: 0 auto;
  /*background-color: rgba(0, 128, 0, 0.25);*/
}

.top-spread-chart {
  vertical-align: top;
  display: inline-block;
  width: 515px;
  height: 100%
}

.top-spread-chart-row {
  box-sizing: border-box;
  width: 100%;
  height: 10%;
  /*background-color:#18B3AC*/
  padding-bottom: 5px;
  padding-right: 3px;
}

.top-spread-chart-row .coll {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-color: rgba(24,179,172,0.3);
  border-radius: 20px 0px 0px 20px;
  color: #93A1A8;
  font-family:'PTSans-Regular';
  font-size: 0;
}

.top-spread-chart-row .coll>div {
  box-sizing: border-box;
  display: inline-block;
  font-size: 16px;
  width: 20%;
  height: 100%;
  margin: 6px 0
}

.top-spread-chart-row .coll>div:nth-child(2) {
  width: 60%;
}

.top-spread-chart-row .coll>div:nth-child(1) {
  text-align: left;
  padding-left: 15px;
}

.top-spread-chart-row .coll>div:nth-child(3) {
  text-align: right;
  padding-right: 15px;
}


.top-spread-map {
  /*float: right;*/
  display: inline-block;
  width: 380px;
  /*height: 372px;*/
}

.top-spread-map>img {
  /*width: 100%;*/
  width: 374px;
  height: 100%;
}

.plate10 .comment {
  margin: 60px auto 60px auto;
  text-align: left;
  width: 570px;
  font-family: 'PTSerif-Regular';
}



.plate11 {
    margin-top: 65px;
    width: 100%;
    background-image: url("../ribon6.png");
    background-repeat: no-repeat;
    background-position: 50% 295px;
}
.plate11 .content {
    text-align: center;
    width: 1024px;
    height: 100%;
    margin: 0 auto;
    /*background-color: rgba(0, 128, 0, 0.25);*/
}

.plate11 .result {
  margin: 70px 0;
}

.plate11 .score {

  font-family: 'PTSans-Bold';
  font-size: 24px;
}

.plate11 .grade {
  margin-top: 30px;
  font-family: 'PTSans-Bold';
  font-size: 24px;
  color: #18B3AC;
}

.plate11 .result .comment {

  font-family: 'PTSerif-Regular';
  font-size: 16px;
  width: 300px;
  margin: auto;
  margin-top: 30px;

}

.plate11 .have-exam {
  margin: 180px 0 160px 0;
}

.plate11 .have-exam .question {
  font-family: 'PTSans-Bold';
  font-size: 32px;
  color:  #18B3AC;
}

.plate11 .have-exam .comment {
  font-family: 'PTSerif-Regular';
  font-size: 16px;
  width: 700px;
  margin: 43px auto 30px auto;
  text-align: left;
}

.plate11 .have-exam .adress .text{
  font-family:'PTSans-Bold';
  font-size: 24px;
}

.plate11 .have-exam .adress .text a{
  font-family:'PTSans-Bold';
  font-size: 24px;
  color:  #18B3AC;
}

.plate11 .social .text {
  font-family:'PTSans-Bold';
  font-size: 24px;
    padding-bottom: 40px;
}
